/* Dropdown styling */
.select {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  color: #1a202c;
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.2s, border-color 0.2s;
  cursor: pointer;
  appearance: none;
}

@media (prefers-color-scheme: dark) {
  .select {
    background-color: #292524;
    border-color: #52525b;
    color: #fff;
  }
}

.select option {
  background-color: #fff;
  color: #1a202c;
}

@media (prefers-color-scheme: dark) {
  .select option {
    background-color: #292524;
    color: #fff;
  }
}
